.Container
{
overflow: hidden;
display: flex;
flex-direction: column;
text-align: center;
height: 100vh;

}
.Contents
{
margin-bottom: 10vw;
width: 100%;
position: relative;
min-height: 100vh;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 80px 40px;
height: 100%;
}
.BackgroundImage
{
  height: 100%;
  background-image: url("../../../public/images/login-background.jpg");
  background-position: top ;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.CTA
{
  margin-bottom: 2vw;
  max-width: 620px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.CTAlogoOne
{
  margin-bottom: 22px;
  max-width: 500px;
  min-height: 1px;
  display: block;
  width: 100%;
}
.SignUpLink
{
  font-weight: bold;
  color: #f9f9f9;
  background-color: #0063e5;
  padding: 16.5px 0px;
  letter-spacing: 2.5px;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.5s;
}
.SignUpLink:hover
{
  background-color: #0483ee;
}

.Description
{
  color:#f9f9f9 ;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.3rem;
  letter-spacing: 1.5px;
  margin: 24px 0px;
}
.CTAlogoTwo
{
  max-width: 600px;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}